p{font-size:20px;
font-family:times new roman;
}
body{background-color:lightblue;
}
h2{margin:20px;
margin:top
margin:bottom;
margin: left;
margin: right;
}
h1{font-family:calibers;
}
{font-size:20px;
}
h1{font-size:20px:
}
h1{text-align:left;
}


